<main class="page-content">
  <div class="context-dark">
    <!-- Modern Breadcrumbs-->
    <section class="breadcrumb-modern rd-parallax bg-gray-darkest">
      <div class="rd-parallax-layer" data-speed="0.2" data-type="media" data-url="assets/images/background-04-1920x750.jpg"></div>
      <div class="rd-parallax-layer" data-speed="0" data-type="html">
        <div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-110 section-lg-bottom-41">
          <h2 class="veil reveal-md-block offset-top-30">
            <span class="big">Contact Us</span>
          </h2>
          <ul class="list-inline list-inline-dashed">
            <li><a href="/">Home</a></li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <section class="section-top-98 section-md-top-110 text-lg-left">
    <div class="shell">
      <div class="range range-xs-center range-xs-center">
        <div class="cell-lg-4">
          <div class="inset-lg-right-80">
            <h3 class="text-bold">How to Find us</h3>
            <hr class="divider hr-lg-left-0 bg-red">
            <p class="offset-top-41 offset-lg-top-50">We are located in the city center and is easy to reach with any kind of public transport. Use our map to find the nearest gym.</p>
            <address class="contact-info offset-top-30 offset-lg-top-50">
              <div class="h6 text-uppercase text-bold text-danger letter-space-none offset-top-none">Intense Office 1</div>
              <p>9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.</p>
              <dl class="offset-top-0">
                <dt>Telephone</dt>
                <dd><a href="callto:#">+1 800 603 6035</a></dd>
              </dl>
              <dl>
                <dt>E-mail:</dt>
                <dd><a href="mailto:#">mail@demolink.org</a></dd>
              </dl>
            </address>
            <address class="contact-info offset-top-30 offset-lg-top-50">
              <div class="h6 text-uppercase text-bold text-danger letter-space-none">Intense Office 2</div>
              <p>9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45.</p>
              <dl class="offset-top-0">
                <dt>Telephone</dt>
                <dd><a href="callto:#">+1 800 559 6580</a></dd>
              </dl>
              <dl>
                <dt>E-mail:</dt>
                <dd><a href="mailto:#">mail@demolink.org</a></dd>
              </dl>
            </address>
          </div>
        </div>
        <div class="cell-sm-8 offset-top-66 offset-lg-top-0">
          <h3 class="text-bold">Get in touch</h3>
          <hr class="divider hr-lg-left-0 bg-red">
          <!-- RD Mailform-->
          <form data-form-output="form-output-global" data-form-type="contact" method="post" action="http://static.livedemo00.template-help.com:82/wt_58888_v7/intense-gym/bat/rd-mailform.php" class="rd-mailform text-left offset-top-50">
            <div class="range">
              <div class="cell-lg-6">
                <div class="form-group">
                  <label for="contact-us-name" class="form-label form-label-outside">Name:</label>
                  <input id="contact-us-name" type="text" name="name" data-constraints="@Required" class="form-control">
                </div>
              </div>
              <div class="cell-lg-6 offset-top-20 offset-lg-top-0">
                <div class="form-group">
                  <label for="contact-us-email" class="form-label form-label-outside">E-Mail:</label>
                  <input id="contact-us-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                </div>
              </div>
              <div class="cell-lg-12 offset-top-20">
                <div class="form-group">
                  <label for="contact-us-message" class="form-label form-label-outside">Message:</label>
                  <textarea id="contact-us-message" name="message" data-constraints="@Required" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="group-sm text-center text-lg-left offset-top-30">
              <button type="submit" class="btn btn-danger">Send</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="offset-top-98 offset-lg-top-124">
      <!-- RD Google Map-->

      <!--
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>-->
      
      <div class="rd-google-map">
        <div id="rd-google-map" data-zoom="14" data-x="-73.9874068" data-y="40.643180" data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' class="rd-google-map__model"></div>
        <ul class="rd-google-map__locations">
          <li data-x="-73.9874068" data-y="40.643180">
            <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45</p>
          </li>
        </ul>
      </div>
      
    </div>
  </section>
</main>