<main class="page-content">
  <div class="context-dark">
    <!-- Modern Breadcrumbs-->
    <section class="breadcrumb-modern rd-parallax bg-gray-darkest">
      <div class="rd-parallax-layer" data-speed="0.2" data-type="media" data-url="assets/images/background-04-1920x750.jpg"></div>
      <div class="rd-parallax-layer" data-speed="0" data-type="html">
        <div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-110 section-lg-bottom-41">
          <h2 class="veil reveal-md-block offset-top-30">
            <span class="big">Schedule</span>
          </h2>
          <ul class="list-inline list-inline-dashed">
            <li><a href="/">Home</a></li>
            <li>Schedule</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <!-- Choose a convenient time workout-->
  <section>
    <div class="shell-wide section-98 section-sm-110">
      <h1 class="text-darker">Choose a convenient workout time</h1>
      <hr class="divider bg-red">
      <p>On this page, you can select the date and time for your workout. Just choose a suitable month and day of the week.</p>
      <div class="offset-top-41">
        <div class="rd-calendar-fullwidth">
          <div class="rd-calendar">
            <div class="rdc-panel"><a class="rdc-next"></a><a class="rdc-prev"></a>
              <div class="rdc-month"></div>
              <div class="rdc-fullyear"></div>
            </div>
            <div class="rdc-table"></div>
            <div class="rdc-events text-left"><a class="rdc-events_close"></a>
              <ul>
                <li data-date="05/06/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-mandy">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="05/07/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-ocean-green">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="05/08/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-mandy">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark"></time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#">Not Appointment</a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="05/13/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-jaffa">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="05/17/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-havelock-blue">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="05/28/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-ocean-green">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark"></time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#">Not Appointment</a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="06/06/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-mandy">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="06/07/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-ocean-green">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="06/08/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-mandy">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark"></time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#">Not Appointment</a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="06/13/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-havelock-blue">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="06/17/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-jaffa">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark">8:00 am, 9:00 am, 10:00 am, 11:00 am, 12:00 am, 01:00 pm</time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#"></a></h6>
                      </div>
                    </article>
                  </div>
                </li>
                <li data-date="06/28/2016" class="rdc-event">
                  <div class="rdc-event-wrap bg-havelock-blue">
                    <article class="post widget-event">
                      <div class="post-meta"><span class="icon icon-xxs text-danger mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-dark"></time>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular text-white p"><a href="#">Not Appointment</a></h6>
                      </div>
                    </article>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Workout - Free-->
    <section class="section-66 bg-lilac">
      <div class="shell">
        <h2 class="text-darker">Have a Question?</h2>
        <p>If you are unsure what workout or training course is better for you or would like to discuss the perfect day for it, email us.</p><a href="/contact" class="btn btn-primary btn-icon btn-icon-left offset-top-20 text-darker"><span class="icon mdi mdi-email-outline"></span>Send us a letter</a>
      </div>
    </section>
  </section>
</main>