<main class="page-content">
  <div class="context-dark">
    <!-- Modern Breadcrumbs-->
    <section class="breadcrumb-modern rd-parallax bg-gray-darkest">
      <div class="rd-parallax-layer" data-speed="0.2" data-type="media" data-url="assets/images/background-04-1920x750.jpg"></div>
      <div class="rd-parallax-layer" data-speed="0" data-type="html">
        <div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-110 section-lg-bottom-41">
          <h2 class="veil reveal-md-block offset-top-30">
            <span class="big">Blog</span>
          </h2>
          <ul class="list-inline list-inline-dashed">
            <li><a href="/">Home</a></li>
            <li>Blog</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="shell section-98 section-sm-110">
    <div class="range range-md-center range-lg-right">
      <div class="cell-md-8 inset-md-right-30">
        <!-- Blog Classic-->
        <section>
          <!-- Post Classic-->
          <article class="post post-classic">
            <!-- Post media-->
            <header class="post-media">
              <div data-photo-swipe="gallery"><a class="thumbnail-classic" href="/blog/1" target="_self">
                  <figure><img width="770" height="434" src="assets/images/post-01-770x434.jpg" alt=""/>
                  </figure></a>
              </div>
            </header>
            <!-- Post content-->
            <section class="post-content text-left offset-top-41">
              <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                <div class="unit-body">
                  <!-- Post Meta-->
                  <div class="post-meta text-dark"><span class="text-middle icon-xxs text-danger mdi mdi-arrow-right"></span>
                    <time datetime="2016-01-01" class="text-middle small">05/14/2015</time>
                  </div>
                  <!-- Post Title-->
                  <h3 class="text-regular text-darker offset-top-10"><a href="/blog/1">Individual Training: Where to Begin</a></h3>
                  <!-- Post Body-->
                  <div class="post-body">
                    <p>Today we will speak about the topic that many coaches and attendees of our gym find urgent. Individual or personalized training is often a key to improvement of your physical health. We hope this article will provide you with necessary answers on questions.</p>
                    <p>Any sport is basically a series of training done according to a specific system with planned intervals and preset loads. Such training allows achieving great results.</p>
                  </div>
                  <!-- Post Tags-->
                  <p class="text-dark text-sm-right"><small><a href="#">Fitness</a>, <a href="#">Yoga</a></small></p>
                </div>
                <div class="unit-right">
                  <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                    <div class="unit-left"><img src="assets/images/user-july-mao-70x70.jpg" alt=" " width="70" height="70" class="img-circle"/></div>
                    <div class="unit-body">
                      <p class="text-dark">
                        <cite class="small text-normal">July Mao</cite>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </article>
          <hr class="hr bg-lighter offset-top-41 offset-sm-top-66">
          <div class="offset-top-41 offset-sm-top-66">
            <!-- Post Classic-->
            <article class="post post-classic">
              <!-- Post media-->
              <!-- Post content-->
              <section class="post-content text-left">
                <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                  <div class="unit-body">
                    <!-- Post Meta-->
                    <div class="post-meta text-dark"><span class="text-middle icon-xxs text-danger mdi mdi-arrow-right"></span>
                      <time datetime="2016-01-01" class="text-middle small">05/14/2015</time>
                    </div>
                    <!-- Post Title-->
                    <h3 class="text-regular text-darker offset-top-10"><a href="/blog/1">The Dead Deadlift</a></h3>
                    <!-- Post Body-->
                    <div class="post-body">
                      <p>To succeed in weightlifting, you have to follow a specific program. But it is also very important to pay your attention to such element of training as a deadlifting. It makes a great basis for your further weightlifting training while also being useful for the development.</p>
                      <p>In this article, we will uncover the basics of deadlifting followed by the recommendations of Intense coaches. To begin with, deadlifting requires not just good…</p>
                    </div>
                    <!-- Post Tags-->
                    <p class="text-dark text-sm-right"><small><a href="#">CrossFit</a></small></p>
                  </div>
                  <div class="unit-right">
                    <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                      <div class="unit-left"><img src="assets/images/user-john-doe-70x70.jpg" alt=" " width="70" height="70" class="img-circle"/></div>
                      <div class="unit-body">
                        <p class="text-dark">
                          <cite class="small text-normal">John Doe</cite>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
          <hr class="hr bg-lighter offset-top-41 offset-sm-top-66">
          <div class="offset-top-41 offset-sm-top-66">
            <!-- Post Classic-->
            <article class="post post-classic">
              <!-- Post media-->
              <header class="post-media">
                <div data-photo-swipe="gallery"><a class="thumbnail-classic" href="/blog/1" target="_self">
                    <figure><img width="769" height="434" src="assets/images/post-09-769x434.jpg" alt=""/>
                    </figure></a>
                </div>
              </header>
              <!-- Post content-->
              <section class="post-content text-left offset-top-41">
                <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                  <div class="unit-body">
                    <!-- Post Meta-->
                    <div class="post-meta text-dark"><span class="text-middle icon-xxs text-danger mdi mdi-arrow-right"></span>
                      <time datetime="2016-01-01" class="text-middle small">05/14/2015</time>
                    </div>
                    <!-- Post Title-->
                    <h3 class="text-regular text-darker offset-top-10"><a href="/blog/1">How to Maintain a Perfect Muscular Body</a></h3>
                    <!-- Post Body-->
                    <div class="post-body">
                      <p>Everyone dreams of having a perfect body. Though it may seem difficult to achieve, a special training course can help you transform your body into its muscular shape. And with our recommendations given in this article, it will be a lot easier for you.</p>
                      <p>First, it is important to treat your workout seriously, as it is the primary rule of your success. If you lack basic physical training, then the most suitable option will be…</p>
                    </div>
                    <!-- Post Tags-->
                    <p class="text-dark text-sm-right"><small><a href="#">Bodybuilding</a></small></p>
                  </div>
                  <div class="unit-right">
                    <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                      <div class="unit-left"><img src="assets/images/user-alex-ross-70x70.jpg" alt=" " width="70" height="70" class="img-circle"/></div>
                      <div class="unit-body">
                        <p class="text-dark">
                          <cite class="small text-normal">Bernard Show</cite>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
          <hr class="hr bg-lighter offset-top-41 offset-sm-top-66">
          <div class="offset-top-41 offset-sm-top-66">
            <!-- Post Classic-->
            <article class="post post-classic">
              <!-- Post media-->
              <header class="post-media">
                <!-- Owl Carousel-->
                <div data-items="1" data-dots="true" data-nav="true" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]" data-photo-swipe-gallery="data-photo-swipe-gallery" class="owl-carousel owl-carousel-classic"><a class="thumbnail-classic" data-photo-swipe-item="" data-size="1170x600" href="assets/images/post-10-1170x600.jpg">
                    <figure><img width="770" height="434" src="assets/images/post-10-770x434.jpg" alt=""/>
                    </figure></a><a class="thumbnail-classic" data-photo-swipe-item="" data-size="1170x600" href="assets/images/post-11-1170x600.jpg">
                    <figure><img width="770" height="434" src="assets/images/post-11-770x434.jpg" alt=""/>
                    </figure></a><a class="thumbnail-classic" data-photo-swipe-item="" data-size="1170x600" href="assets/images/post-12-1170x600.jpg">
                    <figure><img width="770" height="434" src="assets/images/post-12-770x434.jpg" alt=""/>
                    </figure></a>
                </div>
              </header>
              <!-- Post content-->
              <section class="post-content text-left offset-top-41">
                <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                  <div class="unit-body">
                    <!-- Post Meta-->
                    <div class="post-meta text-dark"><span class="text-middle icon-xxs text-danger mdi mdi-arrow-right"></span>
                      <time datetime="2016-01-01" class="text-middle small">05/14/2015</time>
                    </div>
                    <!-- Post Title-->
                    <h3 class="text-regular text-darker offset-top-10"><a href="/blog/1">Elements of a Proper Athletic Training</a></h3>
                    <!-- Post Body-->
                    <div class="post-body">
                      <p>It goes without saying that every training course differs in its goals and techniques. There are even different workouts for men and women. However, you can easily find common elements almost for every workout, and this is what we will talk about in our article</p>
                      <p>If you want your training to be successful and bring good results, you have to remember about warming up at the beginning of your workout. For example, some of…</p>
                    </div>
                    <!-- Post Tags-->
                    <p class="text-dark text-sm-right"><small><a href="#">CrossFit</a>, <a href="#">Fitness</a></small></p>
                  </div>
                  <div class="unit-right">
                    <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                      <div class="unit-left"><img src="assets/images/user-andy-cole-70x70.jpg" alt=" " width="70" height="70" class="img-circle"/></div>
                      <div class="unit-body">
                        <p class="text-dark">
                          <cite class="small text-normal">Andy Cole</cite>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
          <div class="offset-top-66">
            <!-- Bootstrap Pagination-->
            <nav>
              <ul class="pagination pagination-sm">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true" class="mdi mdi-chevron-double-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true" class="mdi mdi-chevron-double-right"></span></a></li>
              </ul>
            </nav>
          </div>
        </section>
      </div>
      <div class="cell-md-4 offset-top-66 offset-md-top-0">
        <!-- Section Blog Modern-->
        <aside class="text-left inset-md-left-20">
          <!-- Search Form-->
          <p class="big text-medium text-uppercase text-spacing-60">Search</p>
          <div class="text-subline"></div>
          <div class="offset-top-34">
                          <!-- RD Search Form-->
                          <form action="http://static.livedemo00.template-help.com:82/wt_58888_v7/intense-gym/search-results.html" method="GET" class="form-search rd-search">
                            <div class="form-group">
                              <label for="blog-sidebar-2-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                              <input id="blog-sidebar-2-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control input-sm">
                            </div>
                            <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                          </form>
          </div>
          <!-- Twitter Feed-->
          <p class="big text-medium offset-top-41 text-uppercase text-spacing-60">Twitter Feed</p>
          <div class="text-subline"></div>
          <div class="offset-top-34">
                          <div data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class="twitter">
                            <div data-twitter-type="tweet" class="twitter-sm">
                              <div data-date="text" class="twitter-date text-dark small"></div>
                              <div data-tweet="text" class="twitter-text"></div>
                              <div data-screen_name="text" class="twitter-name text-bold big"></div>
                            </div>
                            <div data-twitter-type="tweet" class="twitter-sm">
                              <div data-date="text" class="twitter-date text-dark small"></div>
                              <div data-tweet="text" class="twitter-text"></div>
                              <div data-screen_name="text" class="twitter-name text-bold big"></div>
                            </div>
                          </div>
          </div>
          <div class="range offset-top-41">
            <div class="cell-xs-6 cell-md-12">
              <!-- Category-->
              <p class="big text-medium text-uppercase text-spacing-60">category</p>
              <div class="text-subline"></div>
              <ul class="list list-marked offset-top-30">
                <li><a href="#">Fitness <span class="text-dark">(37)</span></a></li>
                <li><a href="#">Yoga <span class="text-dark">(211)</span></a></li>
                <li><a href="#">CrossFit <span class="text-dark">(12)</span></a></li>
                <li><a href="#">Bodybuilding <span class="text-dark">(7)</span></a></li>
                <li><a href="#">Boxing <span class="text-dark">(15)</span></a></li>
              </ul>
            </div>
            <div class="cell-xs-6 cell-md-12 offset-top-41 offset-xs-top-0 offset-md-top-41">
              <!-- Archive-->
              <p class="big text-medium text-uppercase text-spacing-60">Archive</p>
              <div class="text-subline"></div>
              <ul class="list list-marked offset-top-30">
                <li><a href="#">January 2016 <span class="text-dark">(17)</span></a></li>
                <li><a href="#">December 2015 <span class="text-dark">(121)</span></a></li>
                <li><a href="#">November 2015 <span class="text-dark">(19)</span></a></li>
                <li><a href="#">October 2015 <span class="text-dark">(9)</span></a></li>
                <li><a href="#">September 2015 <span class="text-dark">(25)</span></a></li>
              </ul>
            </div>
          </div>
          <!-- Tags-->
          <p class="big text-medium offset-top-41 text-uppercase text-spacing-60">Tags</p>
          <div class="text-subline"></div>
          <div class="offset-top-34">
                          <div class="group-xs"><a href="#" class="btn btn-xs btn-default">body</a><a href="#" class="btn btn-xs btn-default">Fitness</a><a href="#" class="btn btn-xs btn-default">CrossFit</a><a href="#" class="btn btn-xs btn-default">yoga</a><a href="#" class="btn btn-xs btn-default">Bodybuilding</a>
                          </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>