<main class="page-content">
  <!--Welcome-->
  <section id="welcome" class="section-98 section-sm-110">
    <div class="shell">
      <h1>Welcome</h1>
      <hr class="divider bg-red">
      <div class="range range-xs-center offset-top-66">
        <div class="cell-lg-8">
          <p>Welcome to the website Intense Gym! We hope that you will appreciate our services and opportunities we offer our loyal and potential customers. Here are some of them:</p>
        </div>
      </div>
      <div class="range offset-top-98">
        <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0">
          <!-- Icon Box Type 5-->
          <div class="box-icon box-icon-bordered"><span class="icon icon-outlined icon-sm icon-dark-filled mdi mdi-account-multiple"></span>
            <h4 class="text-danger offset-top-20">Qualified Coaches</h4>
            <p>Our coaches have years of experience in various types of fitness and sports.</p>
          </div>
        </div>
        <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-98 offset-md-top-0">
          <!-- Icon Box Type 5-->
          <div class="box-icon box-icon-bordered"><span class="icon icon-outlined icon-xs icon-dark-filled mdi mdi-thumb-up"></span>
            <h4 class="text-danger offset-top-20">Individual Approach</h4>
            <p>Every client of Intense has a personalized program of training and nutrition.</p>
          </div>
        </div>
        <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-98 offset-md-top-0">
          <!-- Icon Box Type 5-->
          <div class="box-icon box-icon-bordered"><span class="icon icon-outlined icon-sm icon-dark-filled mdi mdi-dumbbell"></span>
            <h4 class="text-danger offset-top-20">Modern Fitness Equipment</h4>
            <p>We cooperate with leading fitness equipment suppliers to give you the superior results.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Offers-->
  <section>
    <div data-items="1" data-xs-items="2" data-md-items="3" data-lg-items="4" data-nav="true" data-dots="true" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]" class="owl-carousel owl-carousel-default veil-md-owl-dots veil-owl-nav reveal-md-owl-nav">
      <div>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry"><a href="/"><img width="480" height="480" src="assets/images/home-01-480x480.jpg" alt=""/></a>
          <figcaption>
            <div>
              <h2 class="text-italic text-uppercase text-spacing-20 thumbnail-terry-title">Bodybuilding</h2>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p><a href="/" class="btn offset-top-10 offset-md-top-0 btn-danger">free first lesson</a>
          </figcaption>
        </figure>
      </div>
      <div>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry"><a href="/"><img width="480" height="480" src="assets/images/home-02-480x480.jpg" alt=""/></a>
          <figcaption>
            <div>
              <h2 class="text-italic text-uppercase text-spacing-20 thumbnail-terry-title">fitness</h2>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p><a href="/" class="btn offset-top-10 offset-md-top-0 btn-danger">free first lesson</a>
          </figcaption>
        </figure>
      </div>
      <div>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry"><a href="/"><img width="480" height="480" src="assets/images/home-03-480x480.jpg" alt=""/></a>
          <figcaption>
            <div>
              <h2 class="text-italic text-uppercase text-spacing-20 thumbnail-terry-title">crossfit</h2>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p><a href="/" class="btn offset-top-10 offset-md-top-0 btn-danger">free first lesson</a>
          </figcaption>
        </figure>
      </div>
      <div>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry"><a href="/"><img width="480" height="480" src="assets/images/home-04-480x480.jpg" alt=""/></a>
          <figcaption>
            <div>
              <h2 class="text-italic text-uppercase text-spacing-20 thumbnail-terry-title">circle studio</h2>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p><a href="/" class="btn offset-top-10 offset-md-top-0 btn-danger">free first lesson</a>
          </figcaption>
        </figure>
      </div>
      <div>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry"><a href="/"><img width="480" height="480" src="assets/images/about-01-480x480.jpg" alt=""/></a>
          <figcaption>
            <div>
              <h2 class="text-italic text-uppercase text-spacing-20 thumbnail-terry-title">Bodybuilding</h2>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p><a href="/" class="btn offset-top-10 offset-md-top-0 btn-danger">free first lesson</a>
          </figcaption>
        </figure>
      </div>
      <div>
        <!-- Thumbnail Terry-->
        <figure class="thumbnail-terry"><a href="/"><img width="480" height="480" src="assets/images/about-02-480x480.jpg" alt=""/></a>
          <figcaption>
            <div>
              <h2 class="text-italic text-uppercase text-spacing-20 thumbnail-terry-title">crossfit</h2>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p><a href="/" class="btn offset-top-10 offset-md-top-0 btn-danger">free first lesson</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <!-- Coaches-->
  <section class="section-98 section-sm-110">
    <div class="shell">
      <h1>Coaches</h1>
      <hr class="divider bg-danger">
      <div class="range range-xs-center offset-sm-top-66">
        <div class="cell-sm-10 cell-lg-12">
          <div class="range">
            <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-xs-top-0">
              <!-- Box Member-->
              <div class="box-member"><img src="assets/images/user-ryan-jackson-270x270.jpg" alt="" class="img-responsive"/>
                <h5 class="text-bold offset-top-20"><a href="/about-coach">Ryan Jackson</a> <small class="text-danger">CrossFit</small>
                </h5>
                <div class="box-member-wrap">
                  <div class="box-member-caption">
                    <div class="box-member-caption-inner">
                      <ul class="list-inline list-inline-xs">
                        <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <p class="offset-lg-top-0 text-muted">He has more than 10 years of experience in CrossFit and professional athletics.</p>
            </div>
            <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-0 offset-lg-top-0">
              <!-- Box Member-->
              <div class="box-member"><img src="assets/images/user-emily-perkins-270x270.jpg" alt="" class="img-responsive"/>
                <h5 class="text-bold offset-top-20"><a href="/about-coach">Emily Perkins</a> <small class="text-danger">Fitness</small>
                </h5>
                <div class="box-member-wrap">
                  <div class="box-member-caption">
                    <div class="box-member-caption-inner">
                      <ul class="list-inline list-inline-xs">
                        <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <p class="offset-lg-top-0 text-muted">Emily can teach you all peculiarities of fitness and aerobics in a group or individually.</p>
            </div>
            <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0">
              <!-- Box Member-->
              <div class="box-member"><img src="assets/images/user-samantha-ruiz-270x270.jpg" alt="" class="img-responsive"/>
                <h5 class="text-bold offset-top-20"><a href="/about-coach">Samantha Ruiz</a> <small class="text-danger">Yoga</small>
                </h5>
                <div class="box-member-wrap">
                  <div class="box-member-caption">
                    <div class="box-member-caption-inner">
                      <ul class="list-inline list-inline-xs">
                        <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <p class="offset-lg-top-0 text-muted">Our leading yoga coach, Samantha will help you reach full harmony with your body.</p>
            </div>
            <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0">
              <!-- Box Member-->
              <div class="box-member"><img src="assets/images/user-austin-ortiz-270x270.jpg" alt="" class="img-responsive"/>
                <h5 class="text-bold offset-top-20"><a href="/about-coach">Austin Ortiz</a> <small class="text-danger">Bodybuilding</small>
                </h5>
                <div class="box-member-wrap">
                  <div class="box-member-caption">
                    <div class="box-member-caption-inner">
                      <ul class="list-inline list-inline-xs">
                        <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                        <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <p class="offset-lg-top-0 text-muted">Austin is not only our most called-for coach, but also a winner of many championships.</p>
            </div>
          </div><a href="/coaches" class="offset-top-50 btn btn-danger">view all coaches</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Blog Posts-->
  <section class="section-98 section-110 bg-lilac">
    <div class="shell">
      <h1>Latest Blog Posts</h1>
      <hr class="divider bg-danger">
      <div class="range range-xs-center">
        <div class="cell-sm-10 cell-md-6">
          <!-- Post Boxed--><a href="/blog" class="reveal-block">
            <div class="post post-boxed">
              <!-- Post media-->
              <header class="post-media"><img width="570" height="321" src="assets/images/post-01-570x321.jpg" alt="" class="img-responsive"/></header>
              <!-- Post content-->
              <section class="post-content text-left">
                <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Fitness</span><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Bodybuilding</span>
                </div>
                <div class="post-body">
                  <!-- Post Title-->
                  <div class="post-title">
                    <h4>The Dead Deadlift</h4>
                  </div>
                  <div class="post-meta small">
                    <ul class="list-inline list-inline-sm p">
                      <li class="text-italic text-middle">by&nbsp;<span class="text-neon-carrot">John Doe</span></li>
                      <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-italic text-middle text-neon-carrot">2 days ago</time>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div></a>
        </div>
        <div class="cell-sm-10 cell-md-6 offset-top-66 offset-sm-top-30 offset-md-top-0">
          <!-- Post Boxed--><a href="/blog" class="reveal-block">
            <div class="post post-boxed">
              <!-- Post media-->
              <header class="post-media"><img width="570" height="321" src="assets/images/post-02-570x321.jpg" alt="" class="img-responsive"/></header>
              <!-- Post content-->
              <section class="post-content text-left">
                <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Fitness</span><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Bodybuilding</span>
                </div>
                <div class="post-body">
                  <!-- Post Title-->
                  <div class="post-title">
                    <h4>Beyond GPP: The New Model of Performance Training</h4>
                  </div>
                  <div class="post-meta small">
                    <ul class="list-inline list-inline-sm p">
                      <li class="text-italic text-middle">by&nbsp;<span class="text-neon-carrot">John Doe</span></li>
                      <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-italic text-middle text-neon-carrot">2 days ago</time>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div></a>
        </div>
        <div class="range-spacer veil reveal-md-block offset-top-30"></div>
        <div class="cell-sm-10 cell-md-6 offset-top-66 offset-sm-top-30 offset-md-top-0">
          <!-- Post Boxed--><a href="/blog" class="reveal-block">
            <div class="post post-boxed">
              <!-- Post media-->
              <header class="post-media"><img width="570" height="321" src="assets/images/post-03-570x321.jpg" alt="" class="img-responsive"/></header>
              <!-- Post content-->
              <section class="post-content text-left">
                <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Fitness</span><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Bodybuilding</span>
                </div>
                <div class="post-body">
                  <!-- Post Title-->
                  <div class="post-title">
                    <h4>5 Elements That Belong to Every Athlete’s Training Program</h4>
                  </div>
                  <div class="post-meta small">
                    <ul class="list-inline list-inline-sm p">
                      <li class="text-italic text-middle">by&nbsp;<span class="text-neon-carrot">John Doe</span></li>
                      <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-italic text-middle text-neon-carrot">2 days ago</time>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div></a>
        </div>
        <div class="cell-sm-10 cell-md-6 offset-top-66 offset-sm-top-30 offset-md-top-0">
          <!-- Post Boxed--><a href="/blog" class="reveal-block">
            <div class="post post-boxed">
              <!-- Post media-->
              <header class="post-media"><img width="570" height="321" src="assets/images/post-04-570x321.jpg" alt="" class="img-responsive"/></header>
              <!-- Post content-->
              <section class="post-content text-left">
                <div class="post-tags group-xs"><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Fitness</span><span class="label-custom label-lg-custom label-neon-carrot text-regular text-italic text-capitalize">Bodybuilding</span>
                </div>
                <div class="post-body">
                  <!-- Post Title-->
                  <div class="post-title">
                    <h4>How to Maintain a Perfect Muscular Body After Working Such Out</h4>
                  </div>
                  <div class="post-meta small">
                    <ul class="list-inline list-inline-sm p">
                      <li class="text-italic text-middle">by&nbsp;<span class="text-neon-carrot">John Doe</span></li>
                      <li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                        <time datetime="2016-01-01" class="text-italic text-middle text-neon-carrot">2 days ago</time>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div></a>
        </div><a href="/blog" class="offset-top-66 btn btn-danger">view all blog posts</a>
      </div>
    </div>
  </section>
  <!-- Testimonials-->
  <section>
    <!-- RD Parallax-->
    <div data-on="false" data-md-on="true" class="rd-parallax">
      <div data-speed="0.35" data-type="media" data-url="assets/images/background-05-1920x850.jpg" class="rd-parallax-layer"></div>
      <div data-speed="0" data-type="html" class="rd-parallax-layer">
        <div class="bg-overlay-gray-darkest context-dark">
          <div class="shell section-98 section-sm-110">
            <h1>Testimonials</h1>
            <hr class="divider bg-white">
            <div class="range range-xs-center">
              <div class="cell-sm-8">
                <!-- Testimonials Slider v.3-->
                <div data-items="1" data-nav="true" data-dots="false" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]" class="owl-carousel owl-carousel-testimonials-2">
                  <div>
                    <blockquote class="quote quote-slider-3">
                      <p class="quote-body">I came here to acquire the shape of my body I had half a year ago. I was quite surprised with a range of services they offered me.Moreover, you can benefit from their group training.</p><img width="80" height="80" src="assets/images/user-alisa-milano-80x80.jpg" alt="Alisa Milano" class="quote-img img-circle"/>
                      <p class="text-bold quote-author">
                        <cite class="text-normal">Alisa Milano</cite>
                      </p>
                      <p class="quote-desc text-gray">Designer at Viper Ltd.</p>
                    </blockquote>
                  </div>
                  <div>
                    <blockquote class="quote quote-slider-3">
                      <p class="quote-body">I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</p><img width="80" height="80" src="assets/images/user-july-mao-80x80.jpg" alt="July Mao" class="quote-img img-circle"/>
                      <p class="text-bold quote-author">
                        <cite class="text-normal">July Mao</cite>
                      </p>
                      <p class="quote-desc text-gray">Designer at Viper Ltd.</p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
